//colors
$fair-green: #559c4f;
$pure-white: #fff;
$border-white: #e8e8e8;
$paragraph-text: #efefef;
$paragraph-border: #888888;
$text-color: #292d32;
$text-header-green: #3bb431;
$radio-border: #6b6b6b;
$radio-accent: #3bb431;

//fonts
$nav-font: "IM FELL DW Pica";
$PGdiv-font: "Poppins", sans-serif;

//mixins
@mixin PGdiv {
  position: absolute;
  top: 400px;
}

@mixin border {
  border-radius: 100px;
  border: 1px solid $border-white;
}

@mixin margin {
  margin-top: 10px;
  margin-right: 10px;
}

@mixin navbar {
  font-style: normal;
  font-family: $nav-font;
  font-weight: 400;
  font-size: 91px;
  line-height: 114px;
}

@mixin typeDiv($margin-top) {
  position: absolute;
  top: 400px;
  margin-top: $margin-top;
}

@mixin padding-bg {
  padding: 0px 30px 0px 100px;
  background: $pure-white;
}

@mixin font-block($line-height) {
  font-family: $PGdiv-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: $line-height;
}

@mixin icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 70px;
}

@mixin pidgin-amala-label($width) {
  background: $paragraph-text;
  border: 1px solid $paragraph-border;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  margin-right: -105px;
  width: $width;
}

@mixin pidgin-acthov {
  color: $radio-accent;
  accent-color: $radio-accent;
  border: 1px solid $radio-border;
}

/** base styles **/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#parent {
  position: relative;
  #child {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/** navbar styling **/
#nav {
  position: relative;
}

#flag {
  position: absolute;
  width: 832px;
  height: 394px;
  left: -70px;
  top: -3px;
  opacity: 0.86;
}

#naija {
  position: absolute;
  width: 215px;
  height: 116px;
  left: 690px;
  top: 64px;
  @include navbar();
  color: $fair-green;
}

#ipsum {
  position: absolute;
  width: 249px;
  height: 116px;
  left: 745px;
  top: 155px;
  @include navbar();
  color: $fair-green;
}
/** end of navbar styling **/

/** PGdiv styling **/
#PGdiv {
  position: relative;

  #paragraphLabel {
    @include border();
    @include margin();
    @include PGdiv();
    @include padding-bg();
    position: relative;
    right: 15%;

    .icons {
      @include icon();
    }
    #paragraphText {
      @include font-block(35px);
      width: 123px;
      color: $text-color;
    }
  }

  #numOfParagraphs {
    @include PGdiv();
    @include font-block(35px);
    color: $text-color;
    right: 44%;
    background: $paragraph-text;
    border: 1px solid $paragraph-border;
    border-radius: 100px;
    padding: 10px 10px 10px 30px;
    width: 550px;

    // &:active {
    //   background: $paragraph-text;
    //   border: 1px solid $paragraph-border;
    // }
  }

  #generateBtn {
    @include PGdiv();
    @include border();
    @include margin();
    @include font-block(35px);
    left: 59%;
    background: $text-header-green;
    width: 230px;
    height: 35px;
    text-align: center;
    padding: 0px 35px 0px 35px;
  }
}
/** end of PGdiv styling **/

#typeDiv {
  position: relative;

  #typeDivInner {
    @include typeDiv(100px);
    @include padding-bg();
    @include border();
    margin-right: 10px;
    right: 92.5%;
    width: 228px;

    #typeText {
      @include font-block(35px);
      color: $text-color;
    }
    .icons {
      @include icon();
    }
  }

  #pidginLabel {
    @include typeDiv(100px);
    @include font-block(16px);
    @include pidgin-amala-label(260px);
    right: 79%;
  }
  #pidginRadioBtn {
    @include typeDiv(110px);
    right: 72%;
    background: $pure-white;
    border: 1px solid $radio-border;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: green;
    &:hover {
      @include pidgin-acthov();
    }
    &:active {
      @include pidgin-acthov();
    }
  }

  #amala-eweduLabel {
    @include typeDiv(100px);
    @include typeDiv(100px);
    @include font-block(16px);
    @include pidgin-amala-label(260px);
    left: 32%;
  }

  #amala-eweduRadioBtn {
    @include typeDiv(110px);
    left: 51%;
    background: $pure-white;
    border: 1px solid $radio-border;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: green;
    &:hover {
      @include pidgin-acthov();
    }
    &:active {
      @include pidgin-acthov();
    }
  }
}
