/***************************************************** Sammy use the SASS stylesheet. Don't style on the css. Read README file. ****************************************************/

/////////////////////////////////////////////////////colors
$fair-green: #559c4f;
$pure-white: #fff;
$border-white: #e8e8e8;
$paragraph-text: #efefef;
$paragraph-border: #888888;
$text-color: #292d32;
$text-header-green: #3bb431;
$radio-border: #6b6b6b;

////////////////////////////////
/////////////////////////////////////////////////////fonts
$nav-font: "IM FELL DW Pica";
$PGdiv-font: "Poppins", sans-serif;
////////////////////////////
/////////////////////////////////////////////////////mixins
@mixin PGdiv {
  position: absolute;
  top: 400px;
}

@mixin border {
  border-radius: 100px;
  border: 1px solid $border-white;
}

@mixin margin {
  margin-top: 10px;
  margin-right: 10px;
}

@mixin navbar {
  font-style: normal;
  font-family: $nav-font;
  font-weight: 400;
  font-size: 91px;
  line-height: 114px;
}

@mixin typeDiv($margin-top) {
  position: absolute;
  top: 400px;
  margin-top: $margin-top;
}

@mixin padding-bg {
  padding: 0px 30px 0px 100px;
  background: $pure-white;
}

@mixin font-block($line-height, $font-size, $font-weight) {
  font-family: $PGdiv-font;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 70px;
}

@mixin pidgin-amala-label($width) {
  background: $paragraph-text;
  border: 1px solid $paragraph-border;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  margin-right: -105px;
  width: $width;
}

@mixin pidgin-acthov {
  color: $text-header-green;
  accent-color: $text-header-green;
  border: 1px solid $radio-border;
}
///////////////////////////////////////
/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
  margin: 0;
}

// #parent {
//   position: relative;
//   #child {
//     position: absolute;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
/** end of base styles **/
////////////////////////////////////
/*************************************** navbar styling *******************************************/

#nav-link {
  width: 100%;
}

.header-content {
  display: flex;
  width: 100%;

  & .flag-container {
    width: 100%;

    & #flag {
      width: 100%;
      top: 0;
      opacity: 0.86;
    }
  }
  
  & .naija-ipsum-container {
    width: 35%;
    position: relative;

    & #naija {
      position: absolute;
      width: 100%;
      top: 11%;
      left: -22%;
      // width: 215px;
      // height: 116px;
      // left: 690px;
    }
    
    & #ipsum {
      position: absolute;
      top: 45%;
      width: 100%;
      // height: 116px;
      // left: 745px;
      // top: 155px;
    }
  }
}


/** end of navbar styling **/
///////////////////////////////////////////////////


/******************************************************* Paragraph-section styling *****************************************/

.paragraph-section {
  & .form-single-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    // background-color: red;
    

    & .text-icon-container {
      @include border();
      width: 150px;
      padding: 5px 15px;

      @media(max-width: 900px) {
        // width: 130px;
        // padding: 3px 10px;
        transform: scale(0.8);
        margin-left: -12px;
      }
    }
  
    & input[type="number"] {
      @include font-block(35px, 16px, 500);
      color: $text-color;
      background: $paragraph-text;
      border: 1px solid $paragraph-border;
      border-radius: 100px;
      padding: 10px 10px 10px 30px;
      box-sizing: border-box;
      width: calc(100% - (200px + 150px));

      @media(max-width: 900px) {
        padding: 4px 4px 4px 10px;
        height: 40px;
        width: calc(100% - 280px);
        margin-left: -10px;
      }
      
    }

    & input[type="submit"] {
      @include border();
      @include font-block(35px, 16px, 500);
      background: $text-header-green;
      height: 35px;
      text-align: center;
      padding: 0px 50px;

      @media(max-width: 900px) {
        padding: 0px 25px;
      }
    }

    & .radio-button-container {
      @include font-block(16px, 16px, 500);
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 20px;
      padding: 8px 10px;
      margin-right: 20px;

      & label {
        margin: 0 5px 0 0;
      }
    }
  }

  & .left-align {
    justify-content: flex-start;
  }

  & .writeup-image-container {
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
      flex-direction: column-reverse;
    }


    & .writeup {
      width: 60%;

      @media(max-width: 900px) {
        width: 100%;
      }
    }

    & .image-container {
      width: 40%;

      @media(max-width: 900px) {
        width: 70%;
      }

      & > img {
        width: 100%;
      }
    }

  }
  
  
}

.naija-ipsum {
  & h1 {
    color: $text-header-green;
  }

}


/******************************************************* End of Paragraph-section styling *****************************************/



/******************************************************* PGdiv styling *****************************************/
#PGdiv {
  position: relative;

  #paragraphLabel {
    @include border();
    @include margin();
    @include PGdiv();
    @include padding-bg();
    position: relative;
    right: 15%;

    .icons {
      @include icon();
    }
    #paragraphText {
      @include font-block(35px, 16px, 500);
      width: 123px;
      color: $text-color;
    }
  }

  #numOfParagraphs {
    @include PGdiv();
    @include font-block(35px, 16px, 500);
    color: $text-color;
    right: 44%;
    background: $paragraph-text;
    border: 1px solid $paragraph-border;
    border-radius: 100px;
    padding: 10px 10px 10px 30px;
    width: 550px;

    // &:active {
    //   background: $paragraph-text;
    //   border: 1px solid $paragraph-border;
    // }
  }

  #generateBtn {
    @include PGdiv();
    @include border();
    @include margin();
    @include font-block(35px, 16px, 500);
    left: 59%;
    background: $text-header-green;
    width: 230px;
    height: 35px;
    text-align: center;
    padding: 0px 35px 0px 35px;
  }
  #homeImg {
    position: absolute;
    width: 717px;
    height: 511px;
    left: 50%;
    top: 457px;
    background: url(../images/undraw_Programming_re_kg9v\ 1.png);
  }
}
/** end of PGdiv styling **/
/////////////////////////////////////////
/************************************************** typeDiv styling ***************************************/
#typeDiv {
  position: relative;

  #typeDivInner {
    @include typeDiv(60px);
    @include padding-bg();
    @include border();
    margin-right: 10px;
    right: 92.5%;
    width: 228px;

    #typeText {
      @include font-block(35px, 16px, 500);
      color: $text-color;
    }
    .icons {
      @include icon();
    }
  }

  #pidginLabel {
    @include typeDiv(60px);
    @include font-block(16px, 16px, 500);
    @include pidgin-amala-label(260px);
    right: 79%;
  }
  #pidginRadioBtn {
    @include typeDiv(70px);
    right: 72%;
    background: $pure-white;
    border: 1px solid $radio-border;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: green;
    &:hover {
      @include pidgin-acthov();
    }
    &:active {
      @include pidgin-acthov();
    }
  }

  #amala-eweduLabel {
    @include typeDiv(60px);
    @include font-block(16px, 16px, 500);
    @include pidgin-amala-label(260px);
    left: 32%;
  }

  #amala-eweduRadioBtn {
    @include typeDiv(70px);
    left: 51%;
    background: $pure-white;
    border: 1px solid $radio-border;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: green;
    &:hover {
      @include pidgin-acthov();
    }
    &:active {
      @include pidgin-acthov();
    }
  }
}
/** end of typeDiv styling **/
/////////////////////////////////////////////
/**************************************************** targetText styling *********************************************/
#targetText {
  position: relative;

  #placeholder-container {
    @include font-block(24px, 16px, 400);
    @include typeDiv(100px);
    margin-left: -165px;
    width: 75%;
    padding: 20px 5% 20px 0;
    .placeholder-div {
      margin-top: 20px;
    }
  }
}
/** end of targetText styling **/
///////////////////////////////////////
/*********************************************** section1 styling *****************************************************/
.section-container {
  position: relative;

  .section1 {
    @include typeDiv(430px);
    margin-left: -165px;
    width: 100%;
    padding: 20px 0;

    h1 {
      margin-bottom: 20px;
      @include font-block(48px, 40px, 700);
      color: $text-header-green;
    }
    p {
      @include font-block(25px, 21px, 400);
      margin-bottom: 30px;
    }
  }

  .section2 {
    @include typeDiv(740px);
    margin-left: -165px;
    width: 100%;

    padding: 20px 0;

    h1 {
      margin-bottom: 20px;
      @include font-block(48px, 40px, 700);
      color: $text-header-green;
    }
    p {
      @include font-block(25px, 21px, 400);
      margin-bottom: 30px;
    }
  }
}
/** end of section1 styling **/
///////////////////////////////////////
/*********************************************** footer styling *********************************************/

footer {
  color: $pure-white;
  margin: 100px 0 -17px 0;
  background-color: $text-header-green;
  padding: 0 30px;

  & > .container {
    padding: 30px 0;
    display: flex;

    & .get-in-touch {
      width: calc(75% - 20px);
    }

    & > .links-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: white;
        text-align: center;
      }
    }
  }
}


// .footer {
//   position: relative;
//   footer {
//     @include typeDiv(1100px);
//     background: $text-header-green;
//     width: 100%;
//     height: 212px;

//     .col-sm-6 {
//       @include font-block(27px, 22px, 500);
//       position: absolute;
//       color: $pure-white;
//       p {
//         ///////////////////////////////////////over here sammy
//         margin-top: 50px;
//         margin-left: 125px;
//         padding-left: 12%;
//         @media screen and (min-width: 992px) {
//           margin-top: 50px; ////////////////////////////////////////////////////you can use media screens this way in sass
//           margin-left: 30%;
//           padding-left: 12%;
//         }
//       }

//       .col-sm-12 {
//         @include font-block(27px, 22px, 500);
//         text-align: center;
//         margin-left: 90%;
//         margin-top: 0;
//         margin-bottom: 0;
//         color: $pure-white;
//       }
//       #home {
//         margin-top: 50px;
//       }
//     }
//   }
// }
