/***************************************************** Sammy use the SASS stylesheet. Don't style on the css. Read README file. ****************************************************/
/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/** end of base styles **/
/*************************************** navbar styling *******************************************/
#nav-link {
  width: 100%;
}

.header-content {
  display: flex;
  width: 100%;
}
.header-content .flag-container {
  width: 100%;
}
.header-content .flag-container #flag {
  width: 100%;
  top: 0;
  opacity: 0.86;
}
.header-content .naija-ipsum-container {
  width: 35%;
  position: relative;
}
.header-content .naija-ipsum-container #naija {
  position: absolute;
  width: 100%;
  top: 11%;
  left: -22%;
}
.header-content .naija-ipsum-container #ipsum {
  position: absolute;
  top: 45%;
  width: 100%;
}

/** end of navbar styling **/
/******************************************************* PGdiv styling *****************************************/
#PGdiv {
  position: relative;
}
#PGdiv #paragraphLabel {
  border-radius: 100px;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 400px;
  padding: 0px 30px 0px 100px;
  background: #fff;
  position: relative;
  right: 15%;
}
#PGdiv #paragraphLabel .icons {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 70px;
}
#PGdiv #paragraphLabel #paragraphText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  width: 123px;
  color: #292d32;
}
#PGdiv #numOfParagraphs {
  position: absolute;
  top: 400px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #292d32;
  right: 44%;
  background: #efefef;
  border: 1px solid #888888;
  border-radius: 100px;
  padding: 10px 10px 10px 30px;
  width: 550px;
}
#PGdiv #generateBtn {
  position: absolute;
  top: 400px;
  border-radius: 100px;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  left: 59%;
  background: #3bb431;
  width: 230px;
  height: 35px;
  text-align: center;
  padding: 0px 35px 0px 35px;
}
#PGdiv #homeImg {
  position: absolute;
  width: 717px;
  height: 511px;
  left: 50%;
  top: 457px;
  background: url(../images/undraw_Programming_re_kg9v\ 1.png);
}

/** end of PGdiv styling **/
/************************************************** typeDiv styling ***************************************/
#typeDiv {
  position: relative;
}
#typeDiv #typeDivInner {
  position: absolute;
  top: 400px;
  margin-top: 60px;
  padding: 0px 30px 0px 100px;
  background: #fff;
  border-radius: 100px;
  border: 1px solid #e8e8e8;
  margin-right: 10px;
  right: 92.5%;
  width: 228px;
}
#typeDiv #typeDivInner #typeText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #292d32;
}
#typeDiv #typeDivInner .icons {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 70px;
}
#typeDiv #pidginLabel {
  position: absolute;
  top: 400px;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #efefef;
  border: 1px solid #888888;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  margin-right: -105px;
  width: 260px;
  right: 79%;
}
#typeDiv #pidginRadioBtn {
  position: absolute;
  top: 400px;
  margin-top: 70px;
  right: 72%;
  background: #fff;
  border: 1px solid #6b6b6b;
  width: 1.1rem;
  height: 1.1rem;
  accent-color: green;
}
#typeDiv #pidginRadioBtn:hover {
  color: #3bb431;
  accent-color: #3bb431;
  border: 1px solid #6b6b6b;
}
#typeDiv #pidginRadioBtn:active {
  color: #3bb431;
  accent-color: #3bb431;
  border: 1px solid #6b6b6b;
}
#typeDiv #amala-eweduLabel {
  position: absolute;
  top: 400px;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #efefef;
  border: 1px solid #888888;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  margin-right: -105px;
  width: 260px;
  left: 32%;
}
#typeDiv #amala-eweduRadioBtn {
  position: absolute;
  top: 400px;
  margin-top: 70px;
  left: 51%;
  background: #fff;
  border: 1px solid #6b6b6b;
  width: 1.1rem;
  height: 1.1rem;
  accent-color: green;
}
#typeDiv #amala-eweduRadioBtn:hover {
  color: #3bb431;
  accent-color: #3bb431;
  border: 1px solid #6b6b6b;
}
#typeDiv #amala-eweduRadioBtn:active {
  color: #3bb431;
  accent-color: #3bb431;
  border: 1px solid #6b6b6b;
}

/** end of typeDiv styling **/
/**************************************************** targetText styling *********************************************/
#targetText {
  position: relative;
}
#targetText #placeholder-container {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 400px;
  margin-top: 100px;
  margin-left: -165px;
  width: 75%;
  padding: 20px 5% 20px 0;
}
#targetText #placeholder-container .placeholder-div {
  margin-top: 20px;
}

/** end of targetText styling **/
/*********************************************** section1 styling *****************************************************/
.section-container {
  position: relative;
}
.section-container .section1 {
  position: absolute;
  top: 400px;
  margin-top: 430px;
  margin-left: -165px;
  width: 100%;
  padding: 20px 0;
}
.section-container .section1 h1 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #3bb431;
}
.section-container .section1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 30px;
}
.section-container .section2 {
  position: absolute;
  top: 400px;
  margin-top: 740px;
  margin-left: -165px;
  width: 100%;
  padding: 20px 0;
}
.section-container .section2 h1 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #3bb431;
}
.section-container .section2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 30px;
}

/** end of section1 styling **/
/*********************************************** footer styling *********************************************/
.footer {
  position: relative;
}
.footer footer {
  position: absolute;
  top: 400px;
  margin-top: 1100px;
  background: #3bb431;
  width: 100%;
  height: 212px;
}
.footer footer .col-sm-6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  position: absolute;
  color: #fff;
}
.footer footer .col-sm-6 p {
  margin-top: 50px;
  margin-left: 125px;
  padding-left: 12%;
}
@media screen and (min-width: 992px) {
  .footer footer .col-sm-6 p {
    margin-top: 50px;
    margin-left: 30%;
    padding-left: 12%;
  }
}
.footer footer .col-sm-6 .col-sm-12 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-left: 90%;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.footer footer .col-sm-6 #home {
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
