/////////////////////////////////////////////////////colors
$fair-green: #559c4f;
$pure-white: #fff;
$border-white: #e8e8e8;
$paragraph-text: #efefef;
$paragraph-border: #888888;
$text-color: #292d32;
$text-header-green: #3bb431;
$radio-border: #6b6b6b;

////////////////////////////////
/////////////////////////////////////////////////////fonts
$nav-font: "IM FELL DW Pica";
$PGdiv-font: "Poppins", sans-serif;
////////////////////////////

/////////////////////////////////////////////////////mixins
@mixin test-border {
  border: 1px solid black;
}

@mixin font-block($line-height, $font-size, $font-weight) {
  font-family: $PGdiv-font;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

///////////////////////////////////////

/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
  margin: 0;
}
/** end of base styles **/
////////////////////////////////////

/*************************************** navbar styling *******************************************/
#nav-link {
  width: 100%;
}

.header-content {
  display: flex;
  width: 100%;

  .flag-container {
    width: 100%;
    #flag {
      width: 100%;
      opacity: 0.86;
      top: 0;
    }
  }

  .naija-ipsum-container {
    width: 35%;
    position: relative;

    #naija {
      position: absolute;
      top: 18%;
      left: -25%;
      width: 100%;
    }

    #ipsum {
      position: absolute;
      top: 50%;
      left: 2%;
      width: 100%;
    }
  }
}
/** end of navbar styling **/
////////////////////////////////////

/** h3, p and a general styling **/
h3 {
  @include font-block(36px, 30px, 500);
  color: $text-header-green;

  @media only screen and (max-width: 900px) {
    @include font-block(35px, 28px, 500);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(18px, 15px, 500);
  }
}

p {
  @include font-block(30px, 21px, 400);

  @media only screen and (max-width: 900px) {
    @include font-block(30px, 20px, 400);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(16px, 11px, 400);
  }
}

a {
  @include font-block(30px, 21px, 400);

  @media only screen and (max-width: 900px) {
    @include font-block(30px, 20px, 400);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(12px, 10px, 400);
  }
}
/** end of h3, p and a styling **/
////////////////////////////////////

/** first-writeup div styling **/
.first-writeup {
  margin-top: 1rem;
  width: 100%;
  h1 {
    @include font-block(50px, 40px, 700);
    color: $text-header-green;

    @media only screen and (max-width: 900px) {
      @include font-block(40px, 30px, 700);
    }

    @media only screen and (max-width: 500px) {
      @include font-block(18px, 15px, 700);
    }
  }

  p {
    margin-top: 17px;
  }
}
/** end of first-writeup div styling **/
////////////////////////////////////

.second-writeup-image {
  margin-top: 3rem;
  width: 100%;
  display: flex;

  @media only screen and (max-width: 900px) {
    margin-top: 9rem;
  }

  @media only screen and (max-width: 500px) {
    margin-top: 3rem;
  }
  @media only screen and (max-width: 411px) {
    margin-top: 4rem;
  }

  #image-wrap {
    width: 100%;
    @media only screen and (max-width: 900px) {
      margin-top: 1rem;
      margin-right: 5.5rem;
    }

    img {
      width: 100%;
    }
  }

  .writeups {
    width: 100%;

    #writeup-one {
      min-width: 106%;
      margin-top: 4rem;

      @media only screen and (max-width: 900px) {
        margin-top: -30%;
        margin-left: -85%;
        min-width: 160%;
      }

      @media only screen and (max-width: 767px) and (min-width: 501px) {
        margin-top: -57%;
      }

      @media only screen and (max-width: 500px) {
        margin-top: -20%;
        margin-left: -100%;
      }

      @media only screen and (max-width: 410px) {
        margin-top: -40%;
      }
    }

    #writeup-two {
      width: 100%;
      margin-top: 3rem;
      margin-left: -7rem;

      @media only screen and (max-width: 900px) {
        margin-top: 45%;
        margin-left: -85%;
        width: 160%;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 45%;
        margin-left: -75%;
      }
    }

    #writeup-three {
      width: 100%;
      margin-top: 3rem;
      margin-left: -15rem;
      padding-top: 1rem;

      @media only screen and (max-width: 900px) {
        margin-top: 3rem;
        margin-left: -110%;
        width: 160%;
      }

      @media only screen and (max-width: 500px) {
        margin-top: 3%;
        margin-left: -100%;
      }
    }
  }
}

/** footer styling **/
footer {
  margin-top: 20px;
  color: $pure-white;
  margin: 100px 0 -17px 0;
  background-color: $text-header-green;
  padding: 0 30px;
  @include font-block(27px, 22px, 500);

  @media only screen and (max-width: 900px) {
    @include font-block(30px, 20px, 400);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(16px, 11px, 400);
    margin-top: 10px;
  }

  .container {
    padding: 30px 0;
    display: flex;

    .get-in-touch {
      width: calc(75% - 20px);
    }

    .links-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: white;
        text-align: center;
        padding-left: 70%;

        @include font-block(30px, 21px, 400);

        @media only screen and (max-width: 900px) {
          @include font-block(30px, 20px, 400);
        }

        @media only screen and (max-width: 500px) {
          @include font-block(16px, 11px, 400);
        }
      }
    }
  }
}
/** end of footer styling **/
////////////////////////////////////
