/////////////////////////////////////////////////////colors
$fair-green: #559c4f;
$pure-white: #fff;
$border-white: #e8e8e8;
$paragraph-text: #efefef;
$paragraph-border: #888888;
$text-color: #292d32;
$text-header-green: #3bb431;
$radio-border: #6b6b6b;

$button-bg: #3bb431;

////////////////////////////////
/////////////////////////////////////////////////////fonts
$nav-font: "IM FELL DW Pica";
$PGdiv-font: "Poppins", sans-serif;
////////////////////////////
/////////////////////////////////////////////////////mixins
@mixin PGdiv {
  position: absolute;
  top: 400px;
}

@mixin border {
  border-radius: 100px;
  border: 1px solid $border-white;
}

@mixin margin {
  margin-top: 10px;
  margin-right: 10px;
}

@mixin navbar {
  font-style: normal;
  font-family: $nav-font;
  font-weight: 400;
  font-size: 91px;
  line-height: 114px;
}

@mixin typeDiv($margin-top) {
  position: absolute;
  top: 400px;
  margin-top: $margin-top;
}

@mixin padding-bg {
  padding: 0px 30px 0px 100px;
  background: $pure-white;
}

@mixin font-block($line-height, $font-size, $font-weight) {
  font-family: $PGdiv-font;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 70px;
}

@mixin pidgin-amala-label($width) {
  background: $paragraph-text;
  border: 1px solid $paragraph-border;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  margin-right: -105px;
  width: $width;
}

@mixin pidgin-acthov {
  color: $text-header-green;
  accent-color: $text-header-green;
  border: 1px solid $radio-border;
}
///////////////////////////////////////
/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
  margin: 0;
}

/** end of base styles **/
////////////////////////////////////

/*************************************** navbar styling *******************************************/
#nav-link {
  width: 100%;
}

.header-content {
  display: flex;
  width: 100%;

  .flag-container {
    width: 100%;

    #flag {
      width: 100%;
      top: 0;
      opacity: 0.86;
    }
  }

  .naija-ipsum-container {
    width: 35%;
    position: relative;

    #naija {
      position: absolute;
      width: 100%;
      top: 11%;
      left: -22%;
    }

    #ipsum {
      position: absolute;
      top: 45%;
      width: 100%;
    }
  }
}

/** end of navbar styling **/
///////////////////////////////////////////////////

h1 {
  @include font-block(36px, 30px, 500);
  color: $text-header-green;

  @media only screen and (max-width: 900px) {
    @include font-block(35px, 28px, 500);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(18px, 15px, 500);
  }
}

/******************************************************* Paragraph-section styling *****************************************/
.paragraph-section {
  .form-single-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: $PGdiv-font;

    #type {
      text-align: center;
      margin-right: 0.5rem;
    }

    .text-icon-container {
      @include border();
      width: 200px;
      text-align: right;
      padding: 5px 15px;
      margin-right: 0.5rem;

      @media (max-width: 900px) {
        transform: scale(0.8);
        margin-left: -12px;
      }
    }

    input[type="number"] {
      @include font-block(35px, 16px, 500);
      color: $text-color;
      background: $paragraph-text;
      border: 1px solid $paragraph-border;
      border-radius: 100px;
      padding: 10px 10px 10px 30px;
      width: calc(100% - (200px + 150px));

      @media (max-width: 900px) {
        padding: 4px 4px 4px 10px;
        height: 40px;
        width: calc(100% - 280px);
        margin-left: -10px;
      }
    }

    input[type="submit"],
    .bubbly-button {
      @include border();
      @include font-block(35px, 16px, 500);
      background: $text-header-green;
      height: 35px;
      text-align: center;
      padding: 0px 50px;
      margin-left: 1rem;
      ///////////////////////////////////////////////////animation starts here
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba(2, 250, 43, 0.5);

      &:focus {
        outline: 0;
      }
      &:before,
      &:after {
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }
      &:before {
        display: none;
        top: -75%;
      }
      &:after {
        display: none;
        bottom: -75%;
      }
      &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(0, 204, 68, 0.5);
      }
      &.animate {
        &:before {
          display: block;
          animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after {
          display: block;
          animation: bottomBubbles ease-in-out 0.75s forwards;
        }
      } ////////////////////////////////////////////////////////////animation ends here

      @media (max-width: 900px) {
        padding: 0px 25px;
      }
    }

    .radio-button-container {
      @include font-block(16px, 16px, 500);
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 20px;
      padding: 8px 10px;
      margin-right: 20px;

      label {
        margin: 0 5px 0 0;
      }
    }
  }

  .left-align {
    justify-content: flex-start;
  }

  .writeup-image-container {
    display: flex;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }

    .writeup {
      width: 60%;
      @include font-block(30px, 20px, 400);

      @media only screen and (max-width: 900px) {
        width: 100%;
        @include font-block(30px, 20px, 400);
      }

      @media only screen and (max-width: 500px) {
        @include font-block(12px, 10px, 400);
      }
    }

    .image-container {
      width: 40%;

      margin-left: -45%;

      @media (max-width: 900px) {
        width: 70%;
      }

      > img {
        width: 100%;
      }
    }
  }
}

.naija-ipsum {
  h1 {
    color: $text-header-green;
    margin: 50px 0 10px 0;
    @include font-block(50px, 40px, 700);

    @media only screen and (max-width: 900px) {
      @include font-block(40px, 30px, 700);
    }

    @media only screen and (max-width: 500px) {
      @include font-block(18px, 15px, 700);
    }
  }

  p {
    margin-top: 17px;
    @include font-block(30px, 21px, 400);

    @media only screen and (max-width: 900px) {
      @include font-block(30px, 20px, 400);
    }

    @media only screen and (max-width: 500px) {
      @include font-block(12px, 10px, 400);
    }
  }
}

/******************************************************* End of Paragraph-section styling *****************************************/

///////////////////////////////////////
/*********************************************** footer styling *********************************************/

footer {
  color: $pure-white;
  margin: 100px 0 -17px 0;
  background-color: $text-header-green;
  padding: 0 30px;
  @include font-block(27px, 22px, 500);

  @media only screen and (max-width: 900px) {
    @include font-block(30px, 20px, 400);
  }

  @media only screen and (max-width: 500px) {
    @include font-block(12px, 10px, 400);
  }

  .container {
    padding: 30px 0;
    display: flex;

    .get-in-touch {
      width: calc(75% - 20px);
    }

    .links-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: white;
        text-align: center;
        padding-left: 70%;

        @include font-block(30px, 21px, 400);

        @media only screen and (max-width: 900px) {
          @include font-block(30px, 20px, 400);
        }

        @media only screen and (max-width: 500px) {
          @include font-block(12px, 10px, 400);
        }
      }
    }
  }
}
