/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
  margin: 0;
}

/** end of base styles **/
/*************************************** navbar styling *******************************************/
#nav-link {
  width: 100%;
}

.header-content {
  display: flex;
  width: 100%;
}
.header-content .flag-container {
  width: 100%;
}
.header-content .flag-container #flag {
  width: 100%;
  top: 0;
  opacity: 0.86;
}
.header-content .naija-ipsum-container {
  width: 35%;
  position: relative;
}
.header-content .naija-ipsum-container #naija {
  position: absolute;
  width: 100%;
  top: 11%;
  left: -22%;
}
.header-content .naija-ipsum-container #ipsum {
  position: absolute;
  top: 45%;
  width: 100%;
}

/** end of navbar styling **/
h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #3bb431;
}
@media only screen and (max-width: 900px) {
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
}

/******************************************************* Paragraph-section styling *****************************************/
.paragraph-section .form-single-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
.paragraph-section .form-single-line #type {
  text-align: center;
  margin-right: 0.5rem;
}
.paragraph-section .form-single-line .text-icon-container {
  border-radius: 100px;
  border: 1px solid #e8e8e8;
  width: 200px;
  text-align: right;
  padding: 5px 15px;
  margin-right: 0.5rem;
}
@media (max-width: 900px) {
  .paragraph-section .form-single-line .text-icon-container {
    transform: scale(0.8);
    margin-left: -12px;
  }
}
.paragraph-section .form-single-line input[type=number] {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #292d32;
  background: #efefef;
  border: 1px solid #888888;
  border-radius: 100px;
  padding: 10px 10px 10px 30px;
  width: calc(100% - 350px);
}
@media (max-width: 900px) {
  .paragraph-section .form-single-line input[type=number] {
    padding: 4px 4px 4px 10px;
    height: 40px;
    width: calc(100% - 280px);
    margin-left: -10px;
  }
}
.paragraph-section .form-single-line input[type=submit],
.paragraph-section .form-single-line .bubbly-button {
  border-radius: 100px;
  border: 1px solid #e8e8e8;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  background: #3bb431;
  height: 35px;
  text-align: center;
  padding: 0px 50px;
  margin-left: 1rem;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(2, 250, 43, 0.5);
}
.paragraph-section .form-single-line input[type=submit]:focus,
.paragraph-section .form-single-line .bubbly-button:focus {
  outline: 0;
}
.paragraph-section .form-single-line input[type=submit]:before, .paragraph-section .form-single-line input[type=submit]:after,
.paragraph-section .form-single-line .bubbly-button:before,
.paragraph-section .form-single-line .bubbly-button:after {
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.paragraph-section .form-single-line input[type=submit]:before,
.paragraph-section .form-single-line .bubbly-button:before {
  display: none;
  top: -75%;
}
.paragraph-section .form-single-line input[type=submit]:after,
.paragraph-section .form-single-line .bubbly-button:after {
  display: none;
  bottom: -75%;
}
.paragraph-section .form-single-line input[type=submit]:active,
.paragraph-section .form-single-line .bubbly-button:active {
  transform: scale(0.9);
  background-color: #34a02c;
  box-shadow: 0 2px 25px rgba(0, 183, 255, 0.5);
}
.paragraph-section .form-single-line input[type=submit].animate:before,
.paragraph-section .form-single-line .bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.paragraph-section .form-single-line input[type=submit].animate:after,
.paragraph-section .form-single-line .bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@media (max-width: 900px) {
  .paragraph-section .form-single-line input[type=submit],
.paragraph-section .form-single-line .bubbly-button {
    padding: 0px 25px;
  }
}
.paragraph-section .form-single-line .radio-button-container {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 8px 10px;
  margin-right: 20px;
}
.paragraph-section .form-single-line .radio-button-container label {
  margin: 0 5px 0 0;
}
.paragraph-section .left-align {
  justify-content: flex-start;
}
.paragraph-section .writeup-image-container {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .paragraph-section .writeup-image-container {
    flex-direction: column-reverse;
  }
}
.paragraph-section .writeup-image-container .writeup {
  width: 60%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 900px) {
  .paragraph-section .writeup-image-container .writeup {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .paragraph-section .writeup-image-container .writeup {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}
.paragraph-section .writeup-image-container .image-container {
  width: 40%;
  margin-left: -45%;
}
@media (max-width: 900px) {
  .paragraph-section .writeup-image-container .image-container {
    width: 70%;
  }
}
.paragraph-section .writeup-image-container .image-container > img {
  width: 100%;
}

.naija-ipsum h1 {
  color: #3bb431;
  margin: 50px 0 10px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
@media only screen and (max-width: 900px) {
  .naija-ipsum h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .naija-ipsum h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
}
.naija-ipsum p {
  margin-top: 17px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}
@media only screen and (max-width: 900px) {
  .naija-ipsum p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .naija-ipsum p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}

/******************************************************* End of Paragraph-section styling *****************************************/
/*********************************************** footer styling *********************************************/
footer {
  color: #fff;
  margin: 100px 0 -17px 0;
  background-color: #3bb431;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
@media only screen and (max-width: 900px) {
  footer {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 500px) {
  footer {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}
footer .container {
  padding: 30px 0;
  display: flex;
}
footer .container .get-in-touch {
  width: calc(75% - 20px);
}
footer .container .links-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .container .links-container a {
  color: white;
  text-align: center;
  padding-left: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}
@media only screen and (max-width: 900px) {
  footer .container .links-container a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 500px) {
  footer .container .links-container a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
